In [1]:
import pandas as pd

In [2]:
dashboard_df_1 = pd.read_csv('../resources/us_glaciers_data_1.csv')

dashboard_df_1

,Unnamed: 0,line_type,area,glac_id,anlys_time,db_area,min_elev,mean_elev,max_elev,src_date,glac_name,glac_stat,gone_date,release_dt,first_coordinate,lng,lat,cluster,closest_cluster_lat,closest_cluster_lng
0,0,dc,0.000000,G223237E58554N,1148543303,495.176000,0,0,0,933465600,Brady Glacier,e,e,1177210698,"-136.675873,58.385483",-136.675873,58.385483,27,58.955132,-136.541022
1,1,dc,0.000000,G219795E60080N,1186713213,297.560000,0,0,0,995500800,Marvine/Hayden Glacier,e,e,1192067393,"-140.10202,59.96069",-140.102020,59.960690,38,59.872209,-139.311547
2,2,dc,0.000000,G222829E58804N,1148929281,162.882000,0,0,0,933465600,Johns Hopkins Glacier,e,e,1150232094,"-137.260638,58.805875",-137.260638,58.805875,48,58.791778,-137.327807
3,3,dc,0.000000,G223237E58554N,1148543303,495.176000,0,0,0,933465600,Brady Glacier,e,e,1177210698,"-136.662581,58.464275",-136.662581,58.464275,27,58.955132,-136.541022
4,4,dc,0.000000,G223237E58554N,1148543303,495.176000,0,0,0,933465600,Brady Glacier,e,e,1177210698,"-136.652551,58.490007",-136.652551,58.490007,27,58.955132,-136.541022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21533,69561,gb,0.016650,G236764E47851N,1676505600,0.016653,0,0,0,1441756800,WA,e,e,1684195200,"-123.235694,47.850382",-123.235694,47.850382,1,47.776271,-123.499451
21534,69563,gb,0.610026,G236663E47729N,1676505600,0.610024,0,0,0,1441756800,Eel Glacier,e,e,1684195200,"-123.337537,47.724574",-123.337537,47.724574,1,47.776271,-123.499451
21535,69564,gb,0.010210,G238715E48917N,1676505600,0.010209,0,0,0,1441756800,WA,e,e,1684195200,"-121.284829,48.915118",-121.284829,48.915118,43,48.825866,-121.475250
21536,69565,gb,2.180240,G238901E48124N,1676505600,2.180240,0,0,0,1441756800,Chocolate Glacier,e,e,1684195200,"-121.0775,48.117744",-121.077500,48.117744,14,47.951310,-121.109655
21537,69571,gb,0.391326,G236365E47891N,1676505600,0.391327,0,0,0,1441756800,Carrie Glacier,e,e,1684195200,"-123.63685,47.891797",-123.636850,47.891797,1,47.776271,-123.499451

In [3]:
dashboard_df_1 = dashboard_df_1.drop(columns=['Unnamed: 0', 'area', 'glac_id', 'min_elev', 'mean_elev', 'max_elev', 'src_date', 'release_dt', 'first_coordinate', 'cluster', 'closest_cluster_lat', 'closest_cluster_lng'])

dashboard_df_1

,line_type,anlys_time,db_area,glac_name,glac_stat,gone_date,lng,lat
0,dc,1148543303,495.176000,Brady Glacier,e,e,-136.675873,58.385483
1,dc,1186713213,297.560000,Marvine/Hayden Glacier,e,e,-140.102020,59.960690
2,dc,1148929281,162.882000,Johns Hopkins Glacier,e,e,-137.260638,58.805875
3,dc,1148543303,495.176000,Brady Glacier,e,e,-136.662581,58.464275
4,dc,1148543303,495.176000,Brady Glacier,e,e,-136.652551,58.490007
...,...,...,...,...,...,...,...,...
21533,gb,1676505600,0.016653,WA,e,e,-123.235694,47.850382
21534,gb,1676505600,0.610024,Eel Glacier,e,e,-123.337537,47.724574
21535,gb,1676505600,0.010209,WA,e,e,-121.284829,48.915118
21536,gb,1676505600,2.180240,Chocolate Glacier,e,e,-121.077500,48.117744
21537,gb,1676505600,0.391327,Carrie Glacier,e,e,-123.636850,47.891797

In [4]:
line_type = {
    'dc': 'Debris Covered',
    'gb': 'Glacier Bound',
    'ir': 'Internal Rock'
}

dashboard_df_1['line_type'] = dashboard_df_1['line_type'].replace(line_type)

dashboard_df_1

,line_type,anlys_time,db_area,glac_name,glac_stat,gone_date,lng,lat
0,Debris Covered,1148543303,495.176000,Brady Glacier,e,e,-136.675873,58.385483
1,Debris Covered,1186713213,297.560000,Marvine/Hayden Glacier,e,e,-140.102020,59.960690
2,Debris Covered,1148929281,162.882000,Johns Hopkins Glacier,e,e,-137.260638,58.805875
3,Debris Covered,1148543303,495.176000,Brady Glacier,e,e,-136.662581,58.464275
4,Debris Covered,1148543303,495.176000,Brady Glacier,e,e,-136.652551,58.490007
...,...,...,...,...,...,...,...,...
21533,Glacier Bound,1676505600,0.016653,WA,e,e,-123.235694,47.850382
21534,Glacier Bound,1676505600,0.610024,Eel Glacier,e,e,-123.337537,47.724574
21535,Glacier Bound,1676505600,0.010209,WA,e,e,-121.284829,48.915118
21536,Glacier Bound,1676505600,2.180240,Chocolate Glacier,e,e,-121.077500,48.117744
21537,Glacier Bound,1676505600,0.391327,Carrie Glacier,e,e,-123.636850,47.891797

In [5]:
glac_stat = {
    'e': 'Exists',
    'g': 'Gone'
}

dashboard_df_1['glac_stat'] = dashboard_df_1['glac_stat'].replace(glac_stat)

dashboard_df_1

,line_type,anlys_time,db_area,glac_name,glac_stat,gone_date,lng,lat
0,Debris Covered,1148543303,495.176000,Brady Glacier,Exists,e,-136.675873,58.385483
1,Debris Covered,1186713213,297.560000,Marvine/Hayden Glacier,Exists,e,-140.102020,59.960690
2,Debris Covered,1148929281,162.882000,Johns Hopkins Glacier,Exists,e,-137.260638,58.805875
3,Debris Covered,1148543303,495.176000,Brady Glacier,Exists,e,-136.662581,58.464275
4,Debris Covered,1148543303,495.176000,Brady Glacier,Exists,e,-136.652551,58.490007
...,...,...,...,...,...,...,...,...
21533,Glacier Bound,1676505600,0.016653,WA,Exists,e,-123.235694,47.850382
21534,Glacier Bound,1676505600,0.610024,Eel Glacier,Exists,e,-123.337537,47.724574
21535,Glacier Bound,1676505600,0.010209,WA,Exists,e,-121.284829,48.915118
21536,Glacier Bound,1676505600,2.180240,Chocolate Glacier,Exists,e,-121.077500,48.117744
21537,Glacier Bound,1676505600,0.391327,Carrie Glacier,Exists,e,-123.636850,47.891797

In [6]:
gone_date = {
    'e': 'N/A'
}

dashboard_df_1['gone_date'] = dashboard_df_1['gone_date'].replace(gone_date)

dashboard_df_1

,line_type,anlys_time,db_area,glac_name,glac_stat,gone_date,lng,lat
0,Debris Covered,1148543303,495.176000,Brady Glacier,Exists,N/A,-136.675873,58.385483
1,Debris Covered,1186713213,297.560000,Marvine/Hayden Glacier,Exists,N/A,-140.102020,59.960690
2,Debris Covered,1148929281,162.882000,Johns Hopkins Glacier,Exists,N/A,-137.260638,58.805875
3,Debris Covered,1148543303,495.176000,Brady Glacier,Exists,N/A,-136.662581,58.464275
4,Debris Covered,1148543303,495.176000,Brady Glacier,Exists,N/A,-136.652551,58.490007
...,...,...,...,...,...,...,...,...
21533,Glacier Bound,1676505600,0.016653,WA,Exists,N/A,-123.235694,47.850382
21534,Glacier Bound,1676505600,0.610024,Eel Glacier,Exists,N/A,-123.337537,47.724574
21535,Glacier Bound,1676505600,0.010209,WA,Exists,N/A,-121.284829,48.915118
21536,Glacier Bound,1676505600,2.180240,Chocolate Glacier,Exists,N/A,-121.077500,48.117744
21537,Glacier Bound,1676505600,0.391327,Carrie Glacier,Exists,N/A,-123.636850,47.891797

In [7]:
dashboard_df_1 = dashboard_df_1[['line_type', 'anlys_time', 'db_area', 'glac_name', 'glac_stat', 'gone_date', 'lat', 'lng']]

dashboard_df_1

,line_type,anlys_time,db_area,glac_name,glac_stat,gone_date,lat,lng
0,Debris Covered,1148543303,495.176000,Brady Glacier,Exists,N/A,58.385483,-136.675873
1,Debris Covered,1186713213,297.560000,Marvine/Hayden Glacier,Exists,N/A,59.960690,-140.102020
2,Debris Covered,1148929281,162.882000,Johns Hopkins Glacier,Exists,N/A,58.805875,-137.260638
3,Debris Covered,1148543303,495.176000,Brady Glacier,Exists,N/A,58.464275,-136.662581
4,Debris Covered,1148543303,495.176000,Brady Glacier,Exists,N/A,58.490007,-136.652551
...,...,...,...,...,...,...,...,...
21533,Glacier Bound,1676505600,0.016653,WA,Exists,N/A,47.850382,-123.235694
21534,Glacier Bound,1676505600,0.610024,Eel Glacier,Exists,N/A,47.724574,-123.337537
21535,Glacier Bound,1676505600,0.010209,WA,Exists,N/A,48.915118,-121.284829
21536,Glacier Bound,1676505600,2.180240,Chocolate Glacier,Exists,N/A,48.117744,-121.077500
21537,Glacier Bound,1676505600,0.391327,Carrie Glacier,Exists,N/A,47.891797,-123.636850

In [8]:
dashboard_df_1['anlys_time'] = pd.to_datetime(dashboard_df_1['anlys_time'], unit='s')

dashboard_df_1

,line_type,anlys_time,db_area,glac_name,glac_stat,gone_date,lat,lng
0,Debris Covered,2006-05-25 07:48:23,495.176000,Brady Glacier,Exists,N/A,58.385483,-136.675873
1,Debris Covered,2007-08-10 02:33:33,297.560000,Marvine/Hayden Glacier,Exists,N/A,59.960690,-140.102020
2,Debris Covered,2006-05-29 19:01:21,162.882000,Johns Hopkins Glacier,Exists,N/A,58.805875,-137.260638
3,Debris Covered,2006-05-25 07:48:23,495.176000,Brady Glacier,Exists,N/A,58.464275,-136.662581
4,Debris Covered,2006-05-25 07:48:23,495.176000,Brady Glacier,Exists,N/A,58.490007,-136.652551
...,...,...,...,...,...,...,...,...
21533,Glacier Bound,2023-02-16 00:00:00,0.016653,WA,Exists,N/A,47.850382,-123.235694
21534,Glacier Bound,2023-02-16 00:00:00,0.610024,Eel Glacier,Exists,N/A,47.724574,-123.337537
21535,Glacier Bound,2023-02-16 00:00:00,0.010209,WA,Exists,N/A,48.915118,-121.284829
21536,Glacier Bound,2023-02-16 00:00:00,2.180240,Chocolate Glacier,Exists,N/A,48.117744,-121.077500
21537,Glacier Bound,2023-02-16 00:00:00,0.391327,Carrie Glacier,Exists,N/A,47.891797,-123.636850

In [9]:
dashboard_df_1 = dashboard_df_1[~((dashboard_df_1['glac_name'].str.len() == 2) & (dashboard_df_1['glac_name'].str.isalpha()) | 
          dashboard_df_1['glac_name'].str.isdigit())]

dashboard_df_1

,line_type,anlys_time,db_area,glac_name,glac_stat,gone_date,lat,lng
0,Debris Covered,2006-05-25 07:48:23,495.176000,Brady Glacier,Exists,N/A,58.385483,-136.675873
1,Debris Covered,2007-08-10 02:33:33,297.560000,Marvine/Hayden Glacier,Exists,N/A,59.960690,-140.102020
2,Debris Covered,2006-05-29 19:01:21,162.882000,Johns Hopkins Glacier,Exists,N/A,58.805875,-137.260638
3,Debris Covered,2006-05-25 07:48:23,495.176000,Brady Glacier,Exists,N/A,58.464275,-136.662581
4,Debris Covered,2006-05-25 07:48:23,495.176000,Brady Glacier,Exists,N/A,58.490007,-136.652551
...,...,...,...,...,...,...,...,...
21530,Glacier Bound,2014-12-01 00:00:00,85.219500,Sheridan Glacier,Exists,N/A,60.568724,-145.235408
21531,Glacier Bound,2014-12-01 00:00:00,20.625800,Tebenkof Glacier,Exists,N/A,60.643229,-148.565197
21534,Glacier Bound,2023-02-16 00:00:00,0.610024,Eel Glacier,Exists,N/A,47.724574,-123.337537
21536,Glacier Bound,2023-02-16 00:00:00,2.180240,Chocolate Glacier,Exists,N/A,48.117744,-121.077500
21537,Glacier Bound,2023-02-16 00:00:00,0.391327,Carrie Glacier,Exists,N/A,47.891797,-123.636850

In [10]:
dashboard_df_2 = dashboard_df_1.copy()

dashboard_df_2

dashboard_df_2['Area Analysis Date'] = dashboard_df_2['anlys_time'].dt.date

In [11]:
dashboard_df_2 = dashboard_df_2.drop(columns=['anlys_time'])

dashboard_df_2 = dashboard_df_2.rename(columns={'line_type': 'Glacier Type', 'Analysis Time': 'Analysis Time', 'db_area': 'Area',
                                               'glac_name': 'Glacier Name', 'glac_stat': 'Glacier Exists?', 'gone_date': 'Glacier Melt Record Date', 
                                                'lat': 'Latitude', 'lng': 'Longitude'}) 

dashboard_df_2

,Glacier Type,Area,Glacier Name,Glacier Exists?,Glacier Melt Record Date,Latitude,Longitude,Area Analysis Date
0,Debris Covered,495.176000,Brady Glacier,Exists,N/A,58.385483,-136.675873,2006-05-25
1,Debris Covered,297.560000,Marvine/Hayden Glacier,Exists,N/A,59.960690,-140.102020,2007-08-10
2,Debris Covered,162.882000,Johns Hopkins Glacier,Exists,N/A,58.805875,-137.260638,2006-05-29
3,Debris Covered,495.176000,Brady Glacier,Exists,N/A,58.464275,-136.662581,2006-05-25
4,Debris Covered,495.176000,Brady Glacier,Exists,N/A,58.490007,-136.652551,2006-05-25
...,...,...,...,...,...,...,...,...
21530,Glacier Bound,85.219500,Sheridan Glacier,Exists,N/A,60.568724,-145.235408,2014-12-01
21531,Glacier Bound,20.625800,Tebenkof Glacier,Exists,N/A,60.643229,-148.565197,2014-12-01
21534,Glacier Bound,0.610024,Eel Glacier,Exists,N/A,47.724574,-123.337537,2023-02-16
21536,Glacier Bound,2.180240,Chocolate Glacier,Exists,N/A,48.117744,-121.077500,2023-02-16
21537,Glacier Bound,0.391327,Carrie Glacier,Exists,N/A,47.891797,-123.636850,2023-02-16

In [12]:
dashboard_df_2 = dashboard_df_2[['Glacier Name', 'Glacier Exists?', 'Area', 'Glacier Melt Record Date',
                                'Latitude', 'Longitude', 'Area Analysis Date']]

dashboard_df_2

,Glacier Name,Glacier Exists?,Area,Glacier Melt Record Date,Latitude,Longitude,Area Analysis Date
0,Brady Glacier,Exists,495.176000,N/A,58.385483,-136.675873,2006-05-25
1,Marvine/Hayden Glacier,Exists,297.560000,N/A,59.960690,-140.102020,2007-08-10
2,Johns Hopkins Glacier,Exists,162.882000,N/A,58.805875,-137.260638,2006-05-29
3,Brady Glacier,Exists,495.176000,N/A,58.464275,-136.662581,2006-05-25
4,Brady Glacier,Exists,495.176000,N/A,58.490007,-136.652551,2006-05-25
...,...,...,...,...,...,...,...
21530,Sheridan Glacier,Exists,85.219500,N/A,60.568724,-145.235408,2014-12-01
21531,Tebenkof Glacier,Exists,20.625800,N/A,60.643229,-148.565197,2014-12-01
21534,Eel Glacier,Exists,0.610024,N/A,47.724574,-123.337537,2023-02-16
21536,Chocolate Glacier,Exists,2.180240,N/A,48.117744,-121.077500,2023-02-16
21537,Carrie Glacier,Exists,0.391327,N/A,47.891797,-123.636850,2023-02-16

In [22]:
dashboard_df_3 = dashboard_df_2.copy()

# Group by 'glacier name' and get the first value for 'latitude' and 'longitude'
first_values = dashboard_df_3.groupby('Glacier Name').first().reset_index()

# Merge the first values back to the original DataFrame, keeping only 'glacier name'
dashboard_df_3 = pd.merge(dashboard_df_3[['Glacier Name']], first_values, on='Glacier Name', how='left')

dashboard_df_3['Area Analysis Date'] = pd.to_datetime(dashboard_df_3['Area Analysis Date'])

# Extract year and month and set day to the first of the month and time to midnight
dashboard_df_3['Area Analysis Date'] = dashboard_df_3['Area Analysis Date'].apply(
    lambda x: pd.Timestamp(year=x.year, month=x.month, day=1)
)

dashboard_df_3

datetime64[ns]

,Glacier Name,Glacier Exists?,Area,Glacier Melt Record Date,Latitude,Longitude,Area Analysis Date
0,Brady Glacier,Exists,495.176000,N/A,58.385483,-136.675873,2006-05-01
1,Marvine/Hayden Glacier,Exists,297.560000,N/A,59.960690,-140.102020,2007-08-01
2,Johns Hopkins Glacier,Exists,162.882000,N/A,58.805875,-137.260638,2006-05-01
3,Brady Glacier,Exists,495.176000,N/A,58.385483,-136.675873,2006-05-01
4,Brady Glacier,Exists,495.176000,N/A,58.385483,-136.675873,2006-05-01
...,...,...,...,...,...,...,...
14809,Sheridan Glacier,Exists,85.219500,N/A,60.556037,-145.302856,2014-12-01
14810,Tebenkof Glacier,Exists,20.625800,N/A,60.670242,-148.566691,2014-12-01
14811,Eel Glacier,Exists,0.813131,N/A,47.732470,-123.343757,2017-10-01
14812,Chocolate Glacier,Exists,2.525480,N/A,48.115207,-121.115230,2006-08-01
14813,Carrie Glacier,Exists,0.398473,N/A,47.893938,-123.637759,2017-10-01

In [23]:
temperature_data = pd.read_csv('../resources/Monthly_Avg_Temp_1990_2024.csv')

temperature_data

       Date  Value  Anomaly
0    199001  36.48     6.36
1    199002  36.59     4.62
2    199003  39.31     4.16
3    199004  42.61     3.49
4    199005  45.86     2.53
..      ...    ...      ...
409  202402  36.40     4.43
410  202403  39.27     4.12
411  202404  42.86     3.74
412  202405  46.75     3.42
413  202406  50.93     3.41

[414 rows x 3 columns]

In [24]:
temperature_data['formatted_date'] = temperature_data['Date'].apply(lambda x: f"{str(x)[:4]}-{str(x)[4:]}")

temperature_data['datetime'] = pd.to_datetime(temperature_data['formatted_date'], format='%Y-%m')

temperature_data

       Date  Value  Anomaly formatted_date   datetime
0    199001  36.48     6.36        1990-01 1990-01-01
1    199002  36.59     4.62        1990-02 1990-02-01
2    199003  39.31     4.16        1990-03 1990-03-01
3    199004  42.61     3.49        1990-04 1990-04-01
4    199005  45.86     2.53        1990-05 1990-05-01
..      ...    ...      ...            ...        ...
409  202402  36.40     4.43        2024-02 2024-02-01
410  202403  39.27     4.12        2024-03 2024-03-01
411  202404  42.86     3.74        2024-04 2024-04-01
412  202405  46.75     3.42        2024-05 2024-05-01
413  202406  50.93     3.41        2024-06 2024-06-01

[414 rows x 5 columns]

In [25]:
temperature_data = temperature_data.drop(columns=['Date', 'Anomaly', 'formatted_date'])

temperature_data

datetime64[ns]

     Value   datetime
0    36.48 1990-01-01
1    36.59 1990-02-01
2    39.31 1990-03-01
3    42.61 1990-04-01
4    45.86 1990-05-01
..     ...        ...
409  36.40 2024-02-01
410  39.27 2024-03-01
411  42.86 2024-04-01
412  46.75 2024-05-01
413  50.93 2024-06-01

[414 rows x 2 columns]

In [26]:
# Merge the DataFrames on the datetime columns
dashboard_df_3 = pd.merge(dashboard_df_3, temperature_data, left_on='Area Analysis Date', right_on='datetime', how='left')

# Display the resulting DataFrame
dashboard_df_3

,Glacier Name,Glacier Exists?,Area,Glacier Melt Record Date,Latitude,Longitude,Area Analysis Date,Value,datetime
0,Brady Glacier,Exists,495.176000,N/A,58.385483,-136.675873,2006-05-01,46.77,2006-05-01
1,Marvine/Hayden Glacier,Exists,297.560000,N/A,59.960690,-140.102020,2007-08-01,55.43,2007-08-01
2,Johns Hopkins Glacier,Exists,162.882000,N/A,58.805875,-137.260638,2006-05-01,46.77,2006-05-01
3,Brady Glacier,Exists,495.176000,N/A,58.385483,-136.675873,2006-05-01,46.77,2006-05-01
4,Brady Glacier,Exists,495.176000,N/A,58.385483,-136.675873,2006-05-01,46.77,2006-05-01
...,...,...,...,...,...,...,...,...,...
14809,Sheridan Glacier,Exists,85.219500,N/A,60.556037,-145.302856,2014-12-01,52.53,2014-12-01
14810,Tebenkof Glacier,Exists,20.625800,N/A,60.670242,-148.566691,2014-12-01,52.53,2014-12-01
14811,Eel Glacier,Exists,0.813131,N/A,47.732470,-123.343757,2017-10-01,57.51,2017-10-01
14812,Chocolate Glacier,Exists,2.525480,N/A,48.115207,-121.115230,2006-08-01,56.80,2006-08-01
14813,Carrie Glacier,Exists,0.398473,N/A,47.893938,-123.637759,2017-10-01,57.51,2017-10-01

In [27]:
dashboard_df_3 = dashboard_df_3.drop(columns=['datetime'])

dashboard_df_3 = dashboard_df_3.rename(columns={'Value': 'Temperature in F'})

dashboard_df_3

,Glacier Name,Glacier Exists?,Area,Glacier Melt Record Date,Latitude,Longitude,Area Analysis Date,Temperature in F
0,Brady Glacier,Exists,495.176000,N/A,58.385483,-136.675873,2006-05-01,46.77
1,Marvine/Hayden Glacier,Exists,297.560000,N/A,59.960690,-140.102020,2007-08-01,55.43
2,Johns Hopkins Glacier,Exists,162.882000,N/A,58.805875,-137.260638,2006-05-01,46.77
3,Brady Glacier,Exists,495.176000,N/A,58.385483,-136.675873,2006-05-01,46.77
4,Brady Glacier,Exists,495.176000,N/A,58.385483,-136.675873,2006-05-01,46.77
...,...,...,...,...,...,...,...,...
14809,Sheridan Glacier,Exists,85.219500,N/A,60.556037,-145.302856,2014-12-01,52.53
14810,Tebenkof Glacier,Exists,20.625800,N/A,60.670242,-148.566691,2014-12-01,52.53
14811,Eel Glacier,Exists,0.813131,N/A,47.732470,-123.343757,2017-10-01,57.51
14812,Chocolate Glacier,Exists,2.525480,N/A,48.115207,-121.115230,2006-08-01,56.80
14813,Carrie Glacier,Exists,0.398473,N/A,47.893938,-123.637759,2017-10-01,57.51

In [28]:
dashboard_df_3.to_csv('../resources/dashboard_df.csv')